In [6]:
import pandas as pd
import os
import numpy as np

## 将数据转换为tsv格式

In [2]:
## cbcb
data = {'id':[], 'code':[]}
for i in os.listdir('../dataset/cbcb/funcs'):
    data['id'].append(int(i))
    with open('../dataset/cbcb/funcs/'+i) as f:
        data['code'].append(f.read())
df = pd.DataFrame(data)
df.to_csv('./data/c/bcb_funcs_all.tsv', sep='\t', header=None, encoding='utf-8', index=None)
df

            id                                               code
0     10488107  public class TEST{\n    /**\n\t   * encriptaDa...
1      7366066  public class TEST{\n        public BugReportVi...
2       963537  public class TEST{\n    public String[] execut...
3      1455978  public class TEST{\n    /**\n\t * 以文本格式发送邮件　　 ...
4      2195116  public class TEST{\n    /**\n     *    METHOD ...
...        ...                                                ...
9318  15185953  public class TEST{\n    private static Compone...
9319   5293839  public class TEST{\n    /**\n\t * Open a URL u...
9320   6164580  public class TEST{\n    public void calcCRC() ...
9321    753882  public class TEST{\n    public double probePro...
9322    980143  public class TEST{\n    public static ByteBuff...

[9323 rows x 2 columns]

In [7]:
## gcj
data = {'id':[], 'code':[]}
for i in os.listdir('../dataset/gcj/code/'):
    data['id'].append(int(i.replace('.txt', '')))
    with open('../dataset/gcj/code/'+i) as f:
        data['code'].append(f.read())
df = pd.DataFrame(data)
df.to_csv('./data/java/gcj_funcs_all.tsv', sep='\t', header=None, encoding='utf-8', index=None)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: './data/java/gcj_funcs_all.tsv'

In [9]:
## cross-gcj
data = {'id':[], 'code':[]}
for i in os.listdir('../dataset/gcj_merge/code/'):
    data['id'].append(int(i.replace('.txt', '')))
    with open('../dataset/gcj_merge/code/'+i) as f:
        data['code'].append(f.read())
df = pd.DataFrame(data)
df.to_csv('./data/cross-gcj/funcs_all.tsv', sep='\t', header=None, encoding='utf-8', index=None)
df.head()

      id                                               code
0  13514  package googlejam6.p607;\nimport java.io.*;\ni...
1  13272  package googlejam3.p323;\nimport java.io.Buffe...
2  11471  import java.util.ArrayList;\n import java.util...
3   8063  package com.codejam.code1;\n import java.util....
4  13266  package googlejam3.p063;\n// Google Code Jam R...

In [5]:
pairs = pd.read_pickle('./data/java/bcb_pair_ids.pkl')
pairs.head()

       id1      id2 label
0  3024986  3024993     2
1   308643   727183     1
2   308643   587124     1
3   308643   481939     1
4   210006   308643     1

In [5]:
train_data = np.load('../dataset/train_split/gcj/gcj_sample.npy')
train_df = pd.DataFrame(train_data, columns=['id1', 'id2', 'label'])
print(train_df.shape)
train_df.loc[train_df['label']==-1, 'label']=0
train_df.to_pickle('./data/train_data/cross-gcj/gcj_sample.pkl')

test_data = np.load('../dataset/train_split/gcj/gcj_old.npy')
test_df = pd.DataFrame(test_data, columns=['id1', 'id2', 'label'])
print(test_df.shape)
test_df.loc[test_df['label']==-1, 'label']=0
test_df.to_pickle('./data/train_data/cross-gcj/gcj_old.pkl')

(500000, 3)
(500000, 3)

In [14]:
import numpy as np
# cbcb
for i in ['0','1','2']:
    for label in ['fun','random']:
        for l in ['train', 'test', 'val']:
            f = l+'_'+label + i
            data = np.load('../dataset/train_split/cbcb/'+f+'.npy')
            df = pd.DataFrame(data, columns=['id1', 'id2', 'label'])
            print(f, df.shape)
            df.loc[df['label']==-1, 'label']=0
            df.to_pickle('./data/train_data/cbcb/'+f)

train_fun0 (731180, 3)
test_fun0 (118705, 3)
val_fun0 (116898, 3)
train_random0 (429135, 3)
test_random0 (48812, 3)
val_random0 (47776, 3)
train_fun1 (867008, 3)
test_fun1 (84743, 3)
val_fun1 (83048, 3)
train_random1 (429135, 3)
test_random1 (48812, 3)
val_random1 (47776, 3)
train_fun2 (731114, 3)
test_fun2 (118618, 3)
val_fun2 (117004, 3)
train_random2 (429135, 3)
test_random2 (48812, 3)
val_random2 (47776, 3)

In [16]:
import numpy as np
# gcj
for i in ['0','1','2']:
    for label in ['fun','random']:
        for l in ['train', 'test', 'val']:
            f = l+'_'+label + i
            data = np.load('../dataset/train_split/gcj/'+f+'.npy')
            df = pd.DataFrame(data, columns=['id1', 'id2', 'label'])
            print(f, df.shape)
            df.loc[df['label']==-1, 'label']=0
            df.to_pickle('./data/train_data/gcj/'+f)

train_fun0 (500000, 3)
test_fun0 (250000, 3)
val_fun0 (250000, 3)
train_random0 (500000, 3)
test_random0 (250000, 3)
val_random0 (250000, 3)
train_fun1 (500000, 3)
test_fun1 (250000, 3)
val_fun1 (250000, 3)
train_random1 (500000, 3)
test_random1 (250000, 3)
val_random1 (250000, 3)
train_fun2 (500000, 3)
test_fun2 (250000, 3)
val_fun2 (250000, 3)
train_random2 (500000, 3)
test_random2 (250000, 3)
val_random2 (250000, 3)

In [10]:
df[df['label']==-1]['label'] = 0

/Users/haiyangli/miniconda3/envs/network/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df.loc[df['label']==-1, 'label']=0
df.tail()

          id1      id2  label
48807  395956  3817415      0
48808  395956  4643968      0
48809  395956   526581      0
48810  395956  3640858      0
48811  395956  4426358      0